@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model IEnumerable<HyperTamagotchi_MVC.Models.ShoppingItem>

@{
    ViewData["Title"] = "Web shop";
    var shoppingCart = ViewBag.ShoppingCart as ShoppingCart;
}

<div class="container">
    <h1 class="text-center">Webshop</h1>
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["Message"]
        </div>
    }
    @* <div class="d-flex justify-content-end mb-3">
    <a href="@Url.Action("Cart", "Shopping")" class="btn btn-secondary">View Cart</a>
    </div> *@
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="@item.ImagePath" class="card-img-top img-small-centered" alt="@item.Name" />
                    <div class="card-body text-center">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text badge bg-secondary">Stock: @item.Stock</p> <!-- Will have to adjust placement etc..-->
                        <p class="card-text badge bg-primary">@((float)Math.Round((item.Price * item.Discount), 2)) @item.CurrencyType</p>
                        @if (shoppingCart != null && HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
                        {
                            if (!shoppingCart.ShoppingItems.Any(si => si.ShoppingItemId == item.ShoppingItemId))
                            {
                                <form asp-action="AddToCart" method="post">
                                    <input type="hidden" name="id" value="@item.ShoppingItemId" />
                                    <button type="submit" class="btn btn-primary">Add to cart</button>
                                </form>
                            }
                            else
                            {
                                <div class="row no-gutters justify-content-center">
                                    <div class="col-auto">
                                        <button class="btn btn-primary decrease-quantity" data-item-id="@item.ShoppingItemId">-</button>
                                    </div>
                                    <div class="col-auto">
                                        <input class="form-control text-center item-quantity" data-item-id="@item.ShoppingItemId" value="@(shoppingCart.ShoppingItems.Where(si => si.ShoppingItemId == item.ShoppingItemId).Sum(si => si.Quantity))" />
                                    </div>
                                    <div class="col-auto">
                                        <button class="btn btn-primary increase-quantity" data-item-id="@item.ShoppingItemId">+</button>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Add to cart</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style>
    .img-small-centered {
        max-width: 150px; /* Maximal bredd */
        max-height: 150px; /* Maximal höjd */
        display: block; /* Göra bilderna till blockelement för att kunna använda margin:auto */
        margin: auto; /* Centrera bilderna horisontellt */
    }
</style>


@* <div class="row no-gutters justify-content-center">
                                    <div class="col-auto">
                                    <form asp-action="DecreaseQuantity" method="post">
                                        <input type="hidden" name="shoppingItemId" value="@item.ShoppingItemId" />
                                        <button type="button submit" class="btn btn-primary">-</button>
                                    </form>
                                    </div>
                                    <div class="col-auto">
                                    <form asp-action="AdjustQuantity" method="post">
                                        <input type="hidden" name="shoppingItemId" value="@item.ShoppingItemId" />
                                            <input asp-for="@item.Quantity" name="amount" class="form-control text-center" value="@(shoppingCart.ShoppingItems.Where(si => si.ShoppingItemId == item.ShoppingItemId).Sum(si => si.Quantity))" />
                                    </form>
                                </div>
                                    <div class="col-auto">
                                    <form asp-action="IncreaseQuantity" method="post" >
                                        <input type="hidden" name="shoppingItemId" value="@item.ShoppingItemId" />
                                        <button type="submit" class="btn btn-primary">+</button>
                                    </form>
                                    </div>
                                </div> *@