@model IEnumerable<HyperTamagotchi_MVC.Models.ShoppingItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Discount</h1>
<form asp-controller="Discount" asp-action="AddDiscountToShoppingItems" method="post">
    <p>
        <input type="number" name="discountValue" min="0" max="100" />
    </p>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrencyType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Discount)
                </th>
                <th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string discountValue = item.Discount == 1 ? "No discount" : $"Discount {HyperTamagotchi_MVC.Helpers.DiscountConversionHelper.ConvertFromShoppingItemToDiscountDisplayDiscount(item.Discount)}%";
                <tr>
                    <td>
                        <input type="checkbox" name="selectedShoppingItems" value="@item.ShoppingItemId" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrencyType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => discountValue)
                    </td>
                    @if (item.Discount != 1)
                    {
                        <td>
                            Discounted Price: @((float)Math.Round(item.Price * item.Discount, 2)) @item.CurrencyType
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <button type="submit">Update Discounts</button>

</form>

